.banner {
    width: 100%;
    min-height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgrey;

    .wrapper {
        @include wrapper;
        @include flexCenter(row);
        padding: 1rem 2rem;
        .banner-logo {
            width: 48px;
        }
    }
}



