.plantItem {
    width: 100%;
    background-color: white;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .plant-cover {
        width: 100%;
        object-fit: cover;
    }
    .addBtn {
        @include btn($cartBg, white);
    }
}