.plantItem {
    width: 100%;
    background-color: white;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .plant-cover {
        width: 100%;
        object-fit: cover;
    }
    .care-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .care-box {
            display: flex;
            gap: 5px;
        }
    }
    .addBtn {
        @include btn($cartBg, white);
    }
}