.shoppingList {
    width: 100%;

    .wrapper {
        width: 100%;
        height: 100%;
        padding: 2rem;

        .shoppingList-title {
            border-bottom: 1px solid lightgrey;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
        }
        
        .plantContainer {
            width: 100%;
            
            display: grid;
            grid-template-columns: repeat(auto-fit, 250px);
            gap: 1rem;
        }
    }
}

